{% extends "base.html" %}

{% block body %}


        <div class="container-fluid text-center">    
                <div class="row content">
                  <div class="col-sm-2 sidenav">
                          <p>Wondering who you still have to play??</p> 
                          <p>Pick your name below and press Go!</p>
                        <form action="/notplayed" method="post">
                                <select name="option">
                                        {% for o in option_list %}
                                            <option value="{{ o }}" SELECTED>{{ o }}</option>
                                        {% endfor %}
                                        </select>
                                        </td>
                                        <td>
                                            <input class="button" type="submit" value="Go!">
                                        </td>
                        </form>
                  </div>


                          <div class="col-sm-8 text-center">
                                <div>
                                <table>
                                        <th>
                                        <tr>
                                                <td>Rank</td>
                                                <td>Name</td>
                                                <td>Points</td>
                                                <td>Wins</td>
                                                <td>Losses</td>
                                                <td>Draws</td>
                                        </tr>
                                        </th>
                                        <tbody>
                                                {% for row in table %}
                                                <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ row[1] }}</td>
                                                        <td>{{ row[2] }}</td>
                                                        <td>{{ row[3] }}</td>
                                                        <td>{{ row[4] }}</td>
                                                        <td>{{ row[5] }}</td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                </table>
                                </div>


                  </div>
                  <div class="col-sm-2 sidenav">
                    <div class="well">
                    </div>
                    <div class="well">
                    </div>
                  </div>
                </div>
              </div>
              
              <footer class="container-fluid text-center">
                <p></p>
              </footer>
{% endblock %}