@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

body {
  background: linear-gradient(
    90deg,
    rgba(9, 121, 92, 1) 5%,
    rgba(5, 148, 177, 1) 100%
  );
}

h2 {
  font-family: "Bungee Shade", cursive;
  font-size: 60px;
  margin-bottom: 30px;
  color: rgb(248, 248, 248);
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(248, 248, 248);
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgb(189, 189, 189);
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

select,
.button {
  padding: 0.5rem;
  border-radius: 10px;
}

p {
  text-align: left;
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  table {
    width: 950px;
    margin: 10px auto;
  }
  td,
  th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 30px;
  }
}
